@page "/login"
@inherits wine_quality_mobile.Components.Common.BaseComponent

<div class="container p-3">
    <EditForm Model="LoginModel" OnValidSubmit="OnSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <h1>
            @Localizer["Login"]
        </h1>
        <MessagesView Messages="Messages" Errors="Errors"></MessagesView>
        <div class="form-group mb-2">
            <label for="email" class="h5">
                @Localizer["Email"]
            </label>
            <input class="form-control col-6" name="email" type="email" @bind-value="LoginModel.Email" required />
        </div>
        <div class="form-group mb-2">
            <label for="password" class="h5">
                @Localizer["Password"]
            </label>
            <input class="form-control col-4" name="password" type="password" @bind-value="LoginModel.Password" required />
        </div>
        <button class="btn btn-primary mt-2" type="submit">@Localizer["Login"]</button>
    </EditForm>
</div>